/* ArenaItem.css */

/* Основные стили для карточки арены */
.arena-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 600px; /* Фиксированная высота карточки */
  width: 300px; /* Фиксированная ширина карточки */
  overflow: hidden; /* Скрываем часть содержимого, если оно выходит за границы */
}

.arena-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.arena-card-header {

  margin-bottom: 4rem;
  position: relative;
  overflow: hidden; /* Скрываем выходящее за пределы изображение */
  display: flex;
  flex-direction: column;
}

.arena-card-header img {

height: 400px;
  object-fit: cover; /* Изображение будет обрезано и заполнит область */
  border-radius: 10px;
}

.arena-title {
  font-size: 1.5rem; /* Уменьшил размер шрифта для лучшего вписывания в карточку */
  font-weight: bold;
  color: #333;
  margin: 0;
}

.arena-description {
  margin-bottom: 1rem;
  color: #666;
  font-size: 0.875rem; /* Уменьшил размер шрифта для лучшего вписывания в карточку */
}

.arena-dates {
  margin-bottom: 1rem;
  flex-grow: 1; /* Позволяет занять свободное пространство */
  font-size: 0.875rem; /* Уменьшил размер шрифта для лучшего вписывания в карточку */
}

.arena-date {
  display: block;
  margin-bottom: 0.5rem;
  color: #007bff;
}

.arena-address,
.arena-metro {
  margin-bottom: 1rem;
  color: #555;
  font-size: 0.875rem; /* Уменьшил размер шрифта для лучшего вписывания в карточку */
}

button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}
