.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
  user-select: none;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column; /* Имя и Telegram будут друг под другом */
}

.profile-name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2px; /* Отступ между именем и телеграмом */
}

.profile-telegram {
  display: flex;
  align-items: center;
  color: #6c757d;
  font-size: 14px;
}

.telegram-icon {
  margin-right: 5px;
}

.navbar-avatar-container {
  display: flex;
  align-items: center;

}
