.Navbar {
    padding: 2rem;
    background-color: #f8f9fa; /* Например, светлый фон */
    border-bottom: 1px solid #dee2e6; /* Легкая граница внизу */
  }
  
  .Navbar a {
    color: #007bff;
    text-decoration: none;
  }
  
  .Navbar a:hover {
    text-decoration: underline;
  }
  
  .Navbar .user-info {
    display: flex;
    align-items: center;
  }

  .user_avatar {
    width: 60px; /* Ширина аватара */
    height: 60px; /* Высота аватара */
    border-radius: 50%; /* Округлые края для аватара */
    object-fit: cover; /* Обрезать изображение, чтобы оно соответствовало контейнеру */
    border: 2px solid #eae7dc; /* Тонкая рамка вокруг аватара */
    margin-right: 10px; /* Отступ справа от аватара */
  }
  
  .navbar-avatar-container {
    display: flex;
    align-items: center; /* Выравнивание аватара по вертикали */
    color: black;
  }
  