.ArenasPage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 16px;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.metro-filter {
  margin-bottom: 16px;
}

/* Стили для списка арен */
.arena-list {
  justify-content: center;

  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 карточки в ряд */
  gap: 30px; /* Расстояние между карточками */
  place-items: center;
  margin: 0 auto; /* Центрирование контейнера */
}

/* Стили для иконок переключения карты и панели */
.icon-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.icon {
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.icon:disabled {
  cursor: not-allowed;
}

.icon.active {
  color: #e85a4f; /* Активный цвет */
}
