/* Footer.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
}

.footer-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-logo {
  margin-right: 20px;
}

.footer-logo img {
  height: 100px;
  width: 100px;

}

.footer-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-column {
  margin: 0 10px;
}

.footer-column h4 {
  margin-bottom: 5px;
  font-size: 14px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-column ul li {
  margin-right: 10px;
  font-size: 12px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.burger-menu {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  margin-left: 10px;
}

.social-icons li {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.social-icons li a {
  display: flex;
  align-items: center;
}

.footer-bottom {
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  width: 100%;
}
