.footer {
  background-color: #da6257;
  padding: 10px 20px; /* Уменьшено для меньшего размера футера */
  display: flex;
  flex-direction: column;
  align-items: center;
 
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для футера */
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Уменьшено для меньшего пространства между колонками */
  width: 100%;
  justify-content: center;
}

.footer-column {
  flex: 1;
  min-width: 150px; /* Уменьшенная минимальная ширина колонок */
  margin: 5px; /* Уменьшенные отступы между колонками */
}

.footer-column h4 {
  margin-bottom: 5px; /* Уменьшенный отступ снизу заголовков */
  font-size: 14px; /* Уменьшенный размер шрифта */
  color: #333;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin: 3px 0; /* Уменьшенные отступы для элементов списка */
}

.footer-column ul li a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px; /* Уменьшенный размер шрифта для ссылок */
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 10px; /* Уменьшенный отступ сверху */
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  font-size: 12px; /* Уменьшенный размер шрифта */
  color: #6c757d;
}
