/* EventsPage.css */

.filter-sidebar {
  display: flex;
  gap: 20px;
  padding: 20px;

}

.sidebar {
  flex: 1;
  max-width: 400px;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 20px;
  height: fit-content;
  align-items: center;
  justify-content: center;
}

.main-content {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 30px;
  background-color: #e9e6e6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-form select,
.filter-form input,
.filter-form button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.filter-form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.filter-form button:hover {
  background-color: #0056b3;
}

.date-picker-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.date-picker-container button {
  background-color: #66a5e8;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.date-picker-container button:hover {
  background-color: #0056b3;
}



.mantine-DatePicker-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mantine-DatePicker-calendar {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mantine-DatePicker-day {
  border-radius: 4px;
  background-color: #ccc;
}

.mantine-DatePicker-day-active {
  background-color: #dd630b;
  color: #f20c0c;
}
