.filter-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.events-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  justify-content: center;
  align-items: start; /* Лучше align-items: start, чтобы все блоки начинались сверху */
  margin: 0 auto;
  width: 100%; /* Убедитесь, что контейнер занимает всю ширину */
  max-width: 1200px; /* Можно задать максимальную ширину для ограничения */
  padding: 16px; /* Добавим отступы */
}

