.filter-form {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-form select,
.filter-form input,
.filter-form button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.filter-form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.filter-form button:hover {
  background-color: #0056b3;
}

.events-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  justify-content: center;
  align-items: start; /* Лучше align-items: start, чтобы все блоки начинались сверху */
  margin: 0 auto;
  width: 100%; /* Убедитесь, что контейнер занимает всю ширину */
  max-width: 1200px; /* Можно задать максимальную ширину для ограничения */
  padding: 16px; /* Добавим отступы */
}



.mantine-DatePicker {
  width: 100%;
  max-width: 300px; /* Можно изменить в зависимости от дизайна */
}

.mantine-DatePicker-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mantine-DatePicker-calendar {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mantine-DatePicker-day {
  border-radius: 4px;
  background-color: #ccc;
}

.mantine-DatePicker-day-active {
  background-color: #ff6a00;
  color: white;
}

.date-picker-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date-picker-container button {
  background-color: #66a5e8;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.date-picker-container button:hover {
  background-color: #0056b3;
}

