/* AdminPage.css */
.arenas-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.arenas-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}


